<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="icon-bar">



  <a class="other" href="https://melissaran.itch.io"><i class="fa fa-gamepad"></i></a>
  <!--<a class="other" href="#"><i class="fa fa-question"></i></a>-->
  {% for page in site.pages %}
    {% if page.title %}
    <a class="other" href="https://www.youtube.com/channel/UCOU7W3OF5ziPl7ef4ZDzCsw"><i class="fa fa-youtube"></i></a>
    {% endif %}
  {% endfor %}
  <a class="active" href="/"><i class="fa fa-home"></i></a>
  <a class="other" href="https://ihadtopickaname.deviantart.com/"><i class="fa fa-deviantart"></i></a>
  <a class="other" href="http://take-it-to-art.tumblr.com/"><i class="fa fa-tumblr"></i></a>
</div>


<!--<header class="site-header">

  <div class="wrapper">

    <nav class="site-nav">

      <div class="trigger">

        <div class="page-links">

          <a class="page-link" href="https://ihadtopickaname.deviantart.com/">deviantart</a>

          {% for page in site.pages %}
            {% if page.title %}
            <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
            {% endif %}
          {% endfor %}

        </div>

      </div>
    </nav>

  </div>

</header>-->
