
/**
 * Site header   **********************************************************
 */

 .icon-bar {
   overflow: hidden;
   border-style: hidden;
   border-radius: 20px;
   background-color: $theme-color;
   position:fixed;

   margin-left: 33%;

   width: 33%;

   top: 10px;
box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.3);
   z-index: 900;
 }

 .icon-bar a {
   border-style: hidden;
   color: white;
   float: left;
   text-align: center;
   width: 20%;
   padding: 12px 0;
   transition: all 0.3s ease;
   font-size: 24px;
 }


 .other {
   border-radius: 40px;
 }
 .icon-bar a:hover {
     background-color: $theme-color-lightdark;
     border-radius: 0px;
 }
 .active {
   background-color: $grey-color-dark;
   border-radius: 0px;
 }


.site-title {
font-size: 20px;
line-height: $nav-height;
letter-spacing: -1px;
margin-bottom: 0;
&:hover {
text-decoration: none;
color: $theme-color;
    }
}
.banner{
  width: 100%;
  height: 300px;
  margin-top: -100px;
  overflow: hidden;
  text-align: center;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;


  line-height: 3em;
  z-index: 25;
  line-height: 3em;
  background-image: url("https://img00.deviantart.net/5cbd/i/2018/141/b/4/clustered_homes_by_ihadtopickaname-dcc5v2o.png");
  header-bar{
  }
}



.header-bar{
background-color: rgba(0,0,0,0.5);

padding-top: 100px;
    position: relative;
    font-size: 20px;
    display: block;

    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 3em;
    z-index: 30;
    h1{
        color: white;
        font-size:75px;
    }
    h2{
      font-family: $base-font-family;
      color: $grey-color-light;
        font-size:25px;
    }
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

/**
 * Site footer  **********************************************************
 */
.site-footer {
border-top: 1px solid $grey-color-dark;
font-size: 10px;
background-color: $grey-color-dark;
padding: 2px;
color: #aaa;
position:fixed;
left:0px;
bottom:0px;
height:25px;
width:100%;
}
/**
 * Pagination   **********************************************************
 */
.pagination{
max-width: -webkit-calc(800px - (#{$horizontal-spacing-unit} * 2));
text-align: center;
width: 100%;
position: fixed;
bottom: 50px;
}
.paginationicon {
font-size: 50px;
a {
color: $theme-color;
    }
}
/**
 * Page content   **********************************************************
 */
.page-content {
padding: 100px 0; /* VERTICAL PADDING FOR TITLE ON EVERY PAGE */
}
.page-heading {
font-size: 20px;
}
.post-list {
margin: 0px 0;
list-style: none;
    > li {
margin-bottom: $vertical-spacing-unit;
    }
}
.contacticon {
font-size: 60px;
display:block;
margin: 10px;
}
.center{
text-align: center;
}
/**
 * Posts  **********************************************************
 */
.post-header {
margin-bottom: $vertical-spacing-unit;
}
.post-title {
font-size: 42px;
letter-spacing: -1px;
line-height: 1;
@include media-query($on-laptop) {
font-size: 36px;
    }
}
.post-content {
h2 {
font-size: 42px;
@include media-query($on-laptop) {
font-size: 28px;
        }
    }
h3 {
font-size: 30px;
@include media-query($on-laptop) {
font-size: 22px;
        }
    }
h4 {
font-size: 20px;
@include media-query($on-laptop) {
font-size: 18px;
        }
    }
}
.post-meta {
font-size: $small-font-size;
color: $grey-color;
margin-bottom: 0px;
}
.post-link {
display: block;
font-size: 42px;
}

/** Poem formatting ********************************************/
.poem-title {
font-size: 24px;
letter-spacing: -1px;
line-height: 1;
@include media-query($on-laptop) {
font-size: 16px;
    }
}


/**
 * Portfolio grid **********************************************************
*/
// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
content: " ";
display: table;
}
.clearfix:after {
clear: both;
}
.project {
width: calc(33.33% - 10px);
height: 230px;
float: left;
vertical-align: middle;
box-sizing: border-box;
margin-right: 5px;
margin-left: 5px;
margin-top: 10px;


//padding-top: 20px;
//padding-bottom: 20px;
z-index: 999;
border-radius: 10px;
border-style: hidden;
overflow: hidden;

}
.thumbnail{
//z-index: 1000;
width: 100%;
height: 230px;
overflow: hidden;
//border-radius: 10px;

}
.thumbnail img{
//z-index: 120;
width: 500px;
height: auto;
position: relative;
left: -50%;
top: -5%;

}
.thumbnail a{

float: left;
position: relative;
width: 100%;
height: 230px;
}
.thumbnail a span {
transition: opacity 0.3s ease; /* Add transition for hover effects */
opacity: 0;
position: absolute;
top: 0;
left: 0;
bottom: 0;
right: 0;
background: rgba(0,0,0,0.4);
color: $grey-color-light;
padding: 40px;
text-align: center;
}
.thumbnail a:hover span {
opacity: 1;
}
/**
 * Portfolio pages **********************************************************
*/
.blankbox{
background: $theme-color;
}
.img_row{
height: $img_height;
width: 100%;
overflow: hidden;
box-sizing:border-box;
padding: $img_spacing;
}
.col{
width: 100%;
height: 100%;
float: left;
object-fit: cover;
box-sizing:border-box;
padding: $img_spacing;
}
.right{
float: right;
}
.one {
width:33.33%;
border-radius: 15px;
}
.two {
width: 66.66%;
border-radius: 15px;
}
.three{
width: 100%;
border-radius: 15px;
}
.caption{
height: 100%;
color: $caption_color;
text-align: center;
vertical-align: middle;
font-size: $caption_font_size;
}
