<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    <main class="page-content" aria-label="Content">
      <div class="floatyContainer">
        <div class="floaty">
          <h3 style="color:rgb(255,240,230); text-decoration: underline;">INFO</h3>
          <a href="mailto: mran24@stanford.edu">mran24@stanford.edu</a>
          <a href="{{site.baseurl}}/pdf/MelissaRanResume.pdf">Resume</a>
           |
          <a href="https://melissaran.itch.io/">itch.io</a>
          <a href="https://www.artstation.com/melissaran707">ArtSation</a>
           |
          <!--<a href="https://github.com/melissaran">Github</a>-->
          <a href="https://youtu.be/CNETbQqg8Ps">Demo Reel</a>
        </div>
      </div>
      <div class="wrapper">
        <div class="bg">
        {%- include header.html -%}

        {{ content }}

        {%- include footer.html -%}
      </div>
    </div>
    </main>


  </body>

</html>
