<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    <main class="page-content" aria-label="Content">
      <div class="floatyContainer">
        <div class="floaty">
          <h3 style="color:rgb(255,240,230); text-decoration: underline;">About</h3>
          Melissa Ran is a freshman in college from Edison, NJ.
          She is interested in anything on the art-CS spectrum!
          <p></p>
          Please enjoy this assorted selection of her creative tomfoolery.
          <p></p>
          <a href="mailto: mran24@stanford.edu">mran24@stanford.edu</a>
          <a href="{{site.baseurl}}/pdf/MelissaRanResume.pdf">Resume</a>
           |
          <a href="https://melissaran.itch.io/">itch.io</a>
        </div>
      </div>
      <div class="wrapper">
        <div class="bg">
        {%- include header.html -%}

        {{ content }}

        {%- include footer.html -%}
      </div>
    </div>
    </main>


  </body>

</html>
